.tag {
  left: -7px;
}
.left-gacha-banner-button-position {
  position: absolute;
  bottom: -8px;
  left: 5px;
}
.right-gacha-banner-button-position {
  position: absolute;
  bottom: -8px;
  right: 10px;
  gap: 3px;
  display: flex;
}
.gacha-description-scroll::-webkit-scrollbar {
  width: 7px;
}
.gacha-description-scroll::-webkit-scrollbar-thumb {
  background: #159b04;
  border-radius: 5px;
}
.gacha-wide-image-holder::after {
  box-shadow: -15px 0 8px 8px rgb(57, 133, 57) inset;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 83.333333%;
}
.slide-down {
  position: relative;
  animation: slideDown 0.4s ease-out forwards;
}

@keyframes slideDown {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes boxShadow {
  from {
    box-shadow: 15px -20px 8px 0px rgb(57, 133, 57) inset;
  }
  to {
    box-shadow: -15px 0 8px 8px rgb(57, 133, 57) inset;
  }
}
